.details-container {
  margin: 5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.poster-image {
  max-height: 35rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.back-arrow {
  font-size: 10px;
  position: relative;
  top: 3.5px;
  padding-right: 5px;
}

.back-btn {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  padding-top: 8px;
  cursor: pointer;
}

.title {
  padding-top: 5rem;
}

.release-date {
  padding-top: 2rem;
  padding-left: 5px;
}

.run-time {
  padding-top: 1rem;
  padding-left: 5px;
}

.genres {
  padding-left: 5px;
  padding-top: 1rem;
}

.show-rating {
  padding-left: 5px;
  padding-top: 1rem;
}

.overview {
  padding-left: 5px;
  padding-top: 2.5rem;
  width: 90%;
  color: #757575;
}

.known-as {
  width: 90%;
  padding-top: 20px;
  color: #757575;
}

.birth-container {
  padding-top: 2rem;
  padding-left: 5px;
}

.birth-place {
  font-size: 1rem;
  color: #757575;
  display: inline;
  padding-left: 5px;
}

.alternate-names {
  padding-top: 2.5rem;
  padding-left: 5px;
}

.biography-content {
  padding-top: 2.5rem;
  padding-left: 5px;
}

.biography {
  padding-top: 1rem;
  color: #757575;
  width: 90%;
}

.genre-btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  margin: 5px 5px;
  border-collapse: collapse;
  background: black;
  color: white;
  border-radius: 20px;
}

.play-icon {
  position: relative;
  top: 8px;
}

.trailer-btn {
  outline: none;
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  margin: 30px 0px;
  border-collapse: collapse;
  background: white;
  color: black;
  border-radius: 25px;
  cursor: pointer;
}

.trailer-btn:hover {
  background: linear-gradient(to left, coral, purple);
  border: none;
  outline: none;
  color: white;
}

.no-content-image {
  object-fit: cover;
  height: 20rem;
  width: 20rem;
}

.genre-text {
  display: inline-block;
}

@media screen and (max-width: 920px) {
  .details-container {
    grid-template-columns: 1fr;
    margin: 5rem 0;
  }

  .content {
    margin-top: 1rem;
  }

  .details-poster {
    justify-self: center;
  }

  .content {
    text-align: center;
  }

  .known-as {
    width: 100%;
  }

  .overview {
    width: 100%;
  }

  .biography {
    width: 100%;
  }

  .poster-image {
    max-height: 25rem;
  }

  .genre-text {
    display: block;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 920px) {
  .details-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1150px) {
  .details-container {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media screen and (min-width: 1400px) {
  .details-container {
    grid-template-columns: 1fr 1.8fr;
  }
}

@media screen and (min-width: 1800px) {
  .details-container {
    grid-template-columns: 1fr 2.5fr;
  }
}

@media screen and (min-width: 2000px) {
  .details-container {
    grid-template-columns: 1fr 3.5fr;
  }
}

@media screen and (max-width: 350px) {
  .details-container {
    grid-template-columns: 1fr;
  }
  .poster-image {
    max-height: 15rem;
  }
}
