.top-rated-movie-section,
.toprated-tv-show-section {
  width: 100vw;
  margin-top: 2rem;
}

.top-rated .left-dir,
.top-rated .right-dir {
  display: none !important;
}

.top-rated .row-section {
  display: grid;
  grid-template-columns: repeat(5, 15vw);
  justify-content: center;
  align-items: start;
}

.top-rated .poster {
  max-height: 300px;
}

.title-header {
  text-align: center;
  top: 80px;
  position: relative;
}

.top-rated {
  display: grid;
  grid-template-columns: 1fr;
}

.top-rated .genre-container {
  width: 100%;
}

.genre-card {
  min-height: 200px;
  padding: 2rem;
}

.genre-section {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 20vw 70vw;
  justify-content: center;
  column-gap: 1rem;
}

.input-bx {
  margin-top: 1rem;
  padding: 5px 10px;
  width: 75%;
  border: 0.5px solid #757575;
  align-self: center;
}

a.search-btn {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background: #fff;
  background: linear-gradient(to left, coral, purple);
  color: #fff;
  margin: 1rem 0;
  cursor: pointer;
  width: 45%;
  align-self: center;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.search-btn:hover {
  transform: scale(1.08);
}

.search-box {
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 100%;
  margin-top: 10px;
}

.no-results {
  margin: 5rem;
  margin-left: 26rem;
}

.top-rated .row {
  padding-left: 0;
}

/* .spinner {
  margin: 20rem;
  margin-top: 10rem;
  margin-left: 40rem;
} */

@media screen and (max-width: 1500px) {
  .top-rated .row-section {
    grid-template-columns: repeat(5, 15vw);
    gap: 2rem;
  }
}

@media screen and (max-width: 1300px) {
  .top-rated .row-section {
    grid-template-columns: repeat(4, 15vw);
    gap: 5rem;
  }
}

@media screen and (max-width: 1150px) {
  .top-rated .row-section {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
  }
  .top-rated .genre-section {
    grid-template-columns: 80%;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
  }
  .search-box {
    min-height: 100px;
  }
}

@media screen and (max-width: 950px) {
  .top-rated .row-section {
    grid-template-columns: repeat(3, 20%);
    gap: 2rem 8rem;
  }
}

@media screen and (max-width: 900px) {
  .top-rated .row-section {
    grid-template-columns: repeat(3, 20%);
    gap: 2rem 7rem;
    align-items: stretch;
  }

  .top-rated .genre-section {
    grid-template-columns: 80%;
    gap: 1.3rem;
  }

  .top-rated .search-box {
    width: 100%;
    height: 100%;
  }

  .search-box .input-bx {
    margin-top: 1.6rem;
  }

  .no-results {
    margin-left: 4rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .top-rated .row-section {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
  }
}

@media screen and (max-width: 680px) {
  .top-rated .row-section {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    gap: 50px;
  }
  .top-rated .search-box {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .top-rated .row-section {
    display: grid;
    grid-template-columns: repeat(1, 60%);
    gap: 10px;
  }
  .top-rated .search-box {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .top-rated .search-box {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .top-rated .search-box {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 300px) {
  .top-rated .row-section {
    display: grid;
    grid-template-columns: repeat(1, 75vw);
    gap: 10px;
  }

  .top-rated {
    display: grid;
    grid-template-columns: 80vw;
  }
  .title-header {
    font-size: 16px;
    top: 90px;
    padding-left: 0;
    text-align: center;
  }
}
