:root {
  --primary-color: hsl(192, 45%, 3%);
  --secondary-color: hsl(180, 14%, 3%);
  --white-color: #fff;
  --secondary-white-color: #ebefef;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.header-left {
  display: flex;
  column-gap: 30px;
  align-items: center;
  height: 70px;
  font-family: "Fredoka", sans-serif;
}

.header-logo {
  object-fit: contain;
  height: 60px;
  margin-left: 100px;
  cursor: pointer;
}

.nav-link {
  color: #fff;
  cursor: pointer;
  list-style: none;
}

.header-links ul {
  display: flex;
  align-items: center;
  column-gap: 30px;
  max-height: 100px;
}

.nav-link a {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 0px;
  text-decoration: none;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right .MuiButtonBase-root {
  color: white;
  cursor: pointer;
}

.header-right .MuiSvgIcon-root {
  margin-top: 5px;
}

.header-right {
  line-height: 40px;
  padding: 10px;
  padding-right: 100px;
  border-radius: 60px;
}

.search-input {
  outline: none;
  border: none;
  line-height: 40px;
  width: 30vw;
  float: left;
  font-size: 1em;
  border-radius: 40px;
  padding-left: 20px;
  margin-right: 10px;
}

.hamburger-section {
  position: absolute;
  display: none;
  left: 20px;
}

.hamburger {
  color: #fff !important;
}

@media (min-width: 650px) {
  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    background-color: var(--white-color);
    flex-direction: column;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    position: absolute;
    top: 30px;
    display: none;
    padding: 10px;
    z-index: 10;
  }

  .dropdown-content a {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px;
  }

  .dropdown-content a:hover {
    background-color: var(--secondary-white-color);
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .dropdown-content:hover {
    display: flex;
  }

  .dropdown .active {
    display: flex;
  }
}

@media (max-width: 650px) {
  .hamburger-section {
    display: block;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-links ul {
    flex-direction: column;
    row-gap: 20px;
    z-index: 2;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: -120%;
    top: 70px;
    min-height: 100vh;
    min-width: 90vw;
    padding: 20px;
    padding-top: 20px;
    transition: 0.6s ease-in-out;
    background: var(--secondary-color) !important;
    opacity: 0.95;
  }

  .header-links ul.active {
    left: 0;
    transition: 0.7s ease;
  }

  .header-logo {
    margin: 0;
  }

  .header-links ul a {
    font-size: 18px;
  }

  .dropdown {
    display: block;
  }

  .dropdown-content {
    flex-direction: column;
    padding: 10px;
    display: flex;
  }

  .dropdown-content a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 14px !important;
  }

  .search-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .search-box input {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .btn {
    position: initial;
    width: 4rem;
    align-self: center;
    padding: 0.5rem 1rem;
  }
}
