li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1.2rem;
}

.footer-section {
  width: 100vw;
  margin-top: 5rem;
}

.footer {
  background: black;
  padding: 5rem 0;
  color: white;
  font-family: "Fredoka", sans-serif;
}

.copyright {
  margin-left: 5rem;
}

.copy-p {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.footer-logo {
  object-fit: contain;
  max-height: 6.5rem;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 2.5rem;
  list-style-type: none;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-right: 3rem;
}

.social a {
  color: white;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-nav {
    margin-left: 6.5rem;
  }

  .social {
    margin-left: 6.5rem;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 350px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-nav {
    margin-left: 1.5rem;
  }

  .social {
    margin-left: 1.5rem;
    margin-top: 3rem;
  }

  .copyright {
    margin-left: 0.5rem;
  }
}
